@{
    ViewData["Title"] = "Üye Paneli";
}

<div class="container mt-5">
    <h1 class="display-4 text-primary">Hoş Geldiniz!</h1>
    <p class="lead">Spor Salonu Yönetim Sistemi Üye Paneli</p>
    <hr>
    <p>Burada kişiselleştirilmiş egzersiz önerileri ve randevu takibi gibi üyelere özel içerikler yer alacaktır.</p>

    <a href="/Appointment/Create" class="btn btn-success">Yeni Randevu Al</a>
</div>